<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Click to scrape!</a></p>
    </div>

    <!-- News Listing -->
    <div class="row" id="article">
      <div class="col-md-12">
        <h4 class="heading">{{articles.title}}</h4>
        <small>{{articles.para}}</small>
      </div>
    </div>

    <div class="row" id="image_table">
        <div class="col-md-6">
          <h4 class="heading">Featured Mars Image</h4>
          <div class="thumbnail">
            <img src="{{articles.feat_img}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <h4 class="heading">Mars Facts</h4>
          </div>
          <div class="row">
            <div class="table-responsive">
              {{articles.table |safe}}
            </div>
          </div>
        </div>
    </div>

    <div class="row" id="hem_title">
        <div class="col-md-12">
          <h4 class="heading">{{articles.title}}</h4>
          <small>{{articles.para}}</small>
        </div>
    </div>

    <div class="row" id="hem_img">
        <div class="col-md-3">
              <div class="thumbnail">
                <img src="{{articles.img_list[0]['img_url']}}">
              </div>
                <h6>{{articles.img_list[0]['title']}}</h6>
        </div>
        <div class="col-md-3">
              <div class="thumbnail">
                <img src="{{articles.img_list[1]['img_url']}}">
              </div>
                <h6>{{articles.img_list[1]['title']}}</h6>
        </div>
        <div class="col-md-3">
              <div class="thumbnail">
                <img src="{{articles.img_list[2]['img_url']}}">
              </div>
                <h6>{{articles.img_list[2]['title']}}</h6>
        </div>
        <div class="col-md-3">
              <div class="thumbnail">
                <img src="{{articles.img_list[3]['img_url']}}">
              </div>
                <h6>{{articles.img_list[3]['title']}}</h6>
        </div>
    </div> 

  </div>
</body>

</html>